/* Fixed layout style sheet for https://www.web2ldap.de */

body {
  background-color:#ffffff;
  color:#000000;
  margin:0;
  font-family:Verdana,Arial,Sans-Serif;
}

img {
  max-width:150px;
}

h1 {
  font-size:1.5em;
  font-weight:bold;
  line-height: 2em;
  margin-top:0.5em;
  padding-top:0.25em;
  border-top:1px dotted #707070;
}

h2 {
  font-size:1.25em;
  line-height: 1.5em;
  font-weight:bold;
  margin-top:0.5em;
  padding-top:0.2em;
  border-top:1px dotted #707070;
}

h3 {
  font-size:1.1em;
  line-height: 1.25em;
  font-weight:bold;
  margin-top:0.3em;
  padding-top:0.2em;
  border-top:1px dotted #707070;
}

h4 {
  font-size:1.0em;
  line-height: 1.1em;
  font-weight:bold;
  margin-top:0.1em;
  margin-bottom:0.05em;
}

td {
  vertical-align:top;
  padding:0.15em;
}

li {
  vertical-align:top;
  list-style-type:square;
  padding:0.2em;
}

img.logo {
  width:70px;
  size:100px;
}

/* TopSection encloses StatusLine, MainMenu and ContextMenu */
#TopSection {
}

#StatusLine {
  z-index:10;
  top:0em;
  left:0em;
  right:0em;
  text-align:left;
  padding:0.5em;
  color:#ffffff;
  border:none;
  overflow:auto;
  background-color:#5a5a5a;
  background-repeat:no-repeat;
  white-space: nowrap;
}

#DITNavigation {
  z-index:10;
  top:3.7em;
  left:0em;
  right:0em;
  text-align:left;
  padding:0.5em;
  color:#ffffff;
  background-color:#202020;
  background-repeat:no-repeat;
  white-space: nowrap;
  overflow:hidden;
}

html>body #StatusLine {
  position:fixed;
}

html>body #DITNavigation {
  position:fixed;
}

#StatusLine table {
  top:0;
  width:100%;
  font-size:0.95em;
}

#StatusLine td {
  padding:0.1em;
}

#MainMenu {
  top:0em;
  left:0;
  margin:0;
  margin-top:6.0em;
  padding:0.4em;
  width:8em;
  float:left;
}

html>body #MainMenu {
  position:fixed;
}

#ContextMenu {
  top:0em;
  right:0;
  margin:0;
  margin-top:6.0em;
  padding:0.4em;
  width:8em;
  float:right;
}

html>body #ContextMenu {
  position:fixed;
}

#CommandTable {
  margin:0.8em;
  display:inline;
}

#SrchResList {
  width:100%;
  margin:1em 0 1em 0;
}

#SrchResList td {
  vertical-align:top;
  padding:0.6em;
  border-top:1px dotted;
  margin-bottom:0.2em;
}

#SrchResList tr {
}

#SrchResList td.CommandTable {
  width:7.1em;
  padding:0em;
  padding-top:0.5em;
}

#SrchRes {
}

table.HexDump td {
  margin:0;
  padding:0.2em;
  border:1px solid #7a7a7a;
  white-space: nowrap;
}

table.ReadAttrTable {
  width:100%;
  background-color:#fcfcfc;
}

tr.ReadAttrTableRow {
}

td.ReadAttrType {
  text-align:right;
  width:10%;
  border-top:1px dotted;
  padding:0.1em;
  padding-right:1em;
  padding-left:0.3em;
  margin:0.2em;
  white-space: nowrap;
}

td.ReadAttrValue {
  border-top:1px dotted;
  padding:0.1em;
  margin:0.2em;
}

td.InputAttrType {
  text-align:right;
  vertical-align:top;
  width:10%;
  padding:0.1em;
  padding-right:0.3em;
  margin:0.2em;
  white-space: nowrap;
}

td#About {
  text-align:center;
  vertical-align:middle;
}

div.Main {
  position:absolute;
  top:5.5em;
  bottom:0;
  right:9em;
  left:9em;
  text-align:left;
  padding:0.5em;
  padding-top:0;
  color:#000000;
  border:none;
  background-color:#ffffff;
  overflow-x: auto;
  -ms-overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-y: auto;
}

legend {
  background-color:#7a7a7a;
  color:#ffffff;
  padding:0.1em 0.3em 0.1em 0.3em;
}

fieldset {
  margin:0em;
  margin-top:1.0em;
  padding:0.5em;
  border:1px dotted #707070;
}

#Message {
}

#Input {
}

.InvalidInput {
  background-color: #d85f6a;
  border: 1px solid #c81f2a;
  width: 100%;
}

.ErrorMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #c81f2a;
}

.WarningMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #a0a0a0;
}

.SuccessMessage {
  font-weight:normal;
  padding:0.5em;
  border: 1px solid #e0e0e0;
}

input,button,select,textarea {
  vertical-align:top;
  background-color:#fcfcfc;
  border:1px solid #cccccc;
  padding:0em;
  font-size:0.96em;
}

option {
  background-color:#fcfcfc;
}

code {
  white-space: nowrap;
}

kbd {
  white-space:nowrap;
  overflow:scroll;
  font-weight:bold;
  font-family:Courier,mono-space;
  font-size:1.5em;
}

input[type="submit"],input[type="reset"],button {
  background-color:#d8d8d8;
  border:3px solid #cccccc;
  border-top-color:#eeeeee;
  border-left-color:#eeeeee;
}

input[type="submit"]:hover,input[type="reset"]:hover,button:hover {
  background-color:#dfdfdf;
  border:3px solid #eeeeee;
  border-top-color:#cccccc;
  border-left-color:#cccccc;
}

#DIT dl {
  border-left:1px dotted #707070;
  white-space: nowrap;
  margin:0.1em;
  margin-left:1.7em;
  padding:0.1em;
}

#DIT dt {
  text-align:left;
  margin:0.3em 0 0.2em 0.1em;
  padding:0em;
}

#DIT dd {
  margin:0.3em 0 0.2em 0.1em;
  padding:0em;
}

/* link styles */

a {
  text-align:center;
  padding:0.2em;
  color:#3385a7;
  text-decoration:none;
  font-weight:bold;
}

#StatusLine a {
  color:#f8f8f8;
}

a:hover,a:active,a:focus {
  text-decoration:underline;
}


a.CommandLink {
  text-align:center;
  color:#c81f2a;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

a.CommandLink:hover,a.CommandLink:active,a.CommandLink:focus {
  color:#197a3a;
}

dt {
  padding:0.1em;
}

dd {
  padding:0.1em;
}

p.ScrollLink {
  font-size:0.6em;
  text-align:right;
  float:right;
}

table.PrintSearchResults {
  background: #ffffff;
  color: #000000;
}

#TopSection a.CommandLink {
  border:none;
  padding:0.1em;
  color:#ffffff;
  background-color:transparent;
}

#MainMenu a.CommandLink {
  display:block;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  background-color:#a80a1a;
  background-repeat:no-repeat;
}

#MainMenu a.CommandLink:hover,#MainMenu a.CommandLink:active,#MainMenu a.CommandLink:focus {
  background-color:#197a3a;
  background-repeat:no-repeat;
}

#ContextMenu a.CommandLink {
  display:block;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  background-color:#a80a1a;
  background-repeat:no-repeat;
}

#ContextMenu a.CommandLink:hover,#ContextMenu a.CommandLink:active,#ContextMenu a.CommandLink:focus {
  background-color:#197a3a;
  background-repeat:no-repeat;
}

#TopSection a.CommandLink:hover,#TopSection a.CommandLink:active,#TopSection a.CommandLink:focus {
  text-decoration:underline;
}

a.hide {
  visibility:hidden;
  margin:0;
  padding:0;
}

/* Skip navigation area */

#skipnavi a {
  position:fixed;
  z-index:0;
  padding:0.5em;
  top:-2em;
  left:0em;
  float:left;
  text-align:left;
  border-top-right-radius:4px;
  background-color:transparent;
  background:transparent;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
}

#skipnavi a:focus,#skipnavi a:hover,#skipnavi a:active {
  top:0;
  z-index:20;
  background-color:#ffffff;
  outline:0;
  -webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}
