/***********************************************************************/
/* Style sheet for printable output of web2ldap                        */
/* web2ldap - web-based LDAP Client, see http://www.web2ldap.de        */
/***********************************************************************/

@page {
  margin-top:1.5cm;
  margin-bottom:1.5cm;
  margin-left:2cm;
  margin-right:2cm;
}

body {
  background:#ffffff;
  color:#000000;
  font-family:Times, "Times New Roman", serif;
  font-size:0.6em;
  widows:3;
  orphans:3;
}

body a:link, body a:visited {
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size:2.0em;
  font-weight:bold;
}

h2 {
  font-size:1.6em;
  font-weight:bold;
}

h3 {
  font-size:1.2em;
  font-weight:bold;
}


table.ReadAttrTable {
  width:100%;
  border:1px solid;
}

tr.ReadAttrTableRow {
}

td.ReadAttrType {
  border:none;
  padding:0.1em;
  margin:0.2em;
}

td.ReadAttrValue {
  border:none;
  padding:0.1em;
  margin:0.2em;
}

#TopSection {
  display:none;
}

#skipnavi {
  display:none;
}

a.CommandLink {
  display:none;
}

p.ScrollLink {
  display:none;
}

input {
  display:none;
}

select {
  display:none;
}

#About {
  display:none;
}

tr {
  page-break-inside:avoid;
}
