/***********************************************************************/
/* Fixed layout style sheet for web2ldap                               */
/* looking like a old-fashioned terminal                               */
/* web2ldap - web-based LDAP Client, see http://www.web2ldap.de        */
/***********************************************************************/

body {
  color:#00ff00;
  background-color:#000000;
  font-family:monospace;
}

img {
  max-width:150px;
}

h1 {
  font-size:1.7em;
  font-weight:bold;
}

h2 {
  font-size:1.3em;
  font-weight:bold;
}

h3 {
  font-size:1.1em;
  font-weight:bold;
}

select {
  color:#00ff00;
  background-color:#000000;
  font-family:monospace;
  border:1px solid #00ff00;
}

input {
  color:#00ff00;
  background-color:#000000;
  font-family:monospace;
  border:1px solid #00ff00;
}

radio {
  color:#00ff00;
  background-color:#000000;
  font-family:monospace;
  border:1px solid #00ff00;
}

textarea {
  color:#00ff00;
  background-color:#000000;
  font-family:monospace;
  border:1px solid #00ff00;
}

/**********************************************************************/


/* TopSection encloses StatusLine, MainMenu and ContextMenu */
#TopSection {
}

#StatusLine {
  z-index:100;
  background-color:#000000;
  top:0.4em;
  left:0.5em;
  right:0.5em;
  font-size:0.9em;
  text-align:left;
  padding:0.5em;
  height:4.5em;
  border:1px solid;
  overflow:hidden;
}

html>body #StatusLine {
  position:fixed;
}

#StatusLine table {
  top:0;
  width:100%;
}

#MainMenu {
  top:5.5em;
  left:0;
  margin:0;
  padding:0.5em;
  width:8.5em;
  float:left;
  height:100%;
}

html>body #MainMenu {
  position:fixed;
}

#ContextMenu {
  top:5.5em;
  right:0;
  margin:0;
  padding:0.5em;
  width:8.5em;
  float:right;
  height:100%;
}

html>body #ContextMenu {
  position:fixed;
}

#CommandTable {
  margin:0.8em;
  display:inline;
}

#SrchResList {
  width:100%;
  margin:1em 0 1em 0;
}

#SrchResList td {
  vertical-align:top;
  padding:0.5em;
  border-top:1px solid;
  margin-bottom:0.2em;
}

#SrchResList tr {
  border-top:2px solid;
}

#SrchResList td.CommandTable {
  width:6.1em;
}

#SrchRes {
}

table.ReadAttrTable {
  width:100%;
  border:1px solid;
}

tr.ReadAttrTableRow {
}

td.ReadAttrType {
  border:none;
  padding:0.1em;
  margin:0.2em;
}

td.ReadAttrValue {
  border:none;
  padding:0.1em;
  margin:0.2em;
}

td#About {
  font-size:100%;
  text-align:center;
  vertical-align:middle;
}

div.Main {
  background-color:#000000;
  position:absolute;
  top:6em;
  margin: 0.5em;
  left:9em;
  right:9em;
  text-align:left;
  padding:0.7em;
  border:1px solid;
/*  white-space: nowrap; */
  overflow-x: auto;
  -ms-overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-y: auto;
}

fieldset {
  margin:0.7em;
  padding:0.7em;
  border:1px solid;
  border:1px solid #00ff00;
}

#Message {
}

.ErrorMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #ff0000;
}

.WarningMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #00ff00;
}

#Input {
}


/**********************************************************************/
/* styles for web2ldap's internal links                               */
/**********************************************************************/

a {
  text-align:center;
  padding:0.2em;
  font-size:95%;
  color:#00a0FF;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

a:hover {
  text-decoration:underline;
}

a:active {
  text-decoration:underline;
}

a:focus {
  text-decoration:underline;
}


a.CommandLink {
  text-align:center;
  padding:0.2em;
  font-size:95%;
  color:#ffbe2f;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

a.CommandLink:hover {
  color:#FFFFFF;
  background-color:#c63;
}

a.CommandLink:active {
  color:#FFFFFF;
  background-color:#c63;
}

a.CommandLink:focus {
  color:#FFFFFF;
  background-color:#c63;
}


#TopSection a.CommandLink {
  text-align:center;
}

#MainMenu a.CommandLink {
  display:block;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  border:1px solid #00ff00;
}

#ContextMenu a.CommandLink {
  display:block;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  border:1px solid #00ff00;
}

#TopSection a.CommandLink:hover {
  color:#FFFFFF;
  background-color:#c63;
}

#TopSection a.CommandLink:active {
  color:#FFFFFF;
  background-color:#c63;
}

#TopSection a.CommandLink:focus {
  color:#FFFFFF;
  background-color:#c63;
}

#StatusLine a.CommandLink {
  border:none;
  display:inline;
  color:#ffae2f;
  padding:0.1em;
  background-color:transparent;
}

#StatusLine a.CommandLink:hover {
  color:#FFFFFF;
  background-color:#c63;
}
