/***********************************************************************/
/* Fixed layout style sheet for web2ldap                               */
/* web2ldap - web-based LDAP Client, see http://www.web2ldap.de        */
/***********************************************************************/

body {
  background-color:#c2df5d;
  color:#000000;
  margin:0;
  font-family:sans-serif;
}

img {
  max-width:150px;
}

h1 {
  font-size:1.7em;
  font-weight:bold;
}

h2 {
  font-size:1.3em;
  font-weight:bold;
}

h3 {
  font-size:1.1em;
  font-weight:bold;
}

td {
  vertical-align:top;
  padding:0.15em;
}

li {
  vertical-align:top;
  list-style-type:square;
  padding:0.2em;
}

/* TopSection encloses StatusLine, MainMenu and ContextMenu */
#TopSection {
}

#StatusLine {
  z-index:100;
  top:0.4em;
  left:0.5em;
  right:0.5em;
  font-size:1.0em;
  text-align:left;
  padding:0.5em;
  height:4.5em;
  background-color:#ffffff;
  border:1px solid;
  overflow:hidden;

}

html>body #StatusLine {
  position:fixed;
}

#StatusLine table {
  top:0;
  width:100%;
  font-size:0.95em;
}

#StatusLine td {
  padding:0.1em;
}

#MainMenu {
  top:5.5em;
  left:0;
  margin:0;
  padding:0.5em;
  width:8em;
  float:left;
  height:100%;
}

html>body #MainMenu {
  position:fixed;
}

#ContextMenu {
  top:5.5em;
  right:0;
  margin:0;
  padding:0.5em;
  width:8em;
  float:right;
  height:100%;
}

html>body #ContextMenu {
  position:fixed;
}

#CommandTable {
  margin:0.8em;
  display:inline;
}

#SrchResList {
  width:100%;
  margin:1em 0 1em 0;
}

#SrchResList td {
  vertical-align:top;
  padding:0.5em;
  border-top:1px solid;
  margin-bottom:0.2em;
}

#SrchResList tr {
  border-top:2px solid;
}

#SrchResList td.CommandTable {
  width:6.8em;
}

#SrchRes {
}

table.ReadAttrTable {
  width:100%;
  background-color:#fcfcfc;
}

tr.ReadAttrTableRow {
}

td.ReadAttrType {
  width:30%;
  border-top:1px dotted;
  padding:0.1em;
  margin:0.2em;
}

td.ReadAttrValue {
  border-top:1px dotted;
  padding:0.1em;
  margin:0.2em;
}

td#About {
  font-size:100%;
  text-align:center;
  vertical-align:middle;
}

div.Main {
  background-color:#FFFFFF;
  text-align:left;
  margin:5.3em 9em 0.5em 9em;
  padding:0.7em;
  color:#000000;
  border:1px solid;
/*  white-space: nowrap; */
  overflow-x: auto;
  -ms-overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-y: auto;
}

legend {
}

fieldset {
  margin:0.7em;
  padding:0.7em;
}

#Message {
}

#Input {
}

.ErrorMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #ff0000;
}

.WarningMessage {
  font-weight:bold;
  padding:0.5em;
  border: 3px solid #e0e0e0;
}

.SuccessMessage {
  font-weight:normal;
  padding:0.5em;
  border: 1px solid #e0e0e0;
}


/**********************************************************************/
/* styles for web2ldap's internal links                               */
/**********************************************************************/

a {
  text-align:center;
  padding:0.2em;
  font-size:95%;
  color:#3385a7;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

a:hover {
  text-decoration:underline;
}

a:active {
  text-decoration:underline;
}

a:focus {
  text-decoration:underline;
}


a.CommandLink {
  text-align:center;
  padding:0.2em;
  font-size:95%;
  color:#AA4012;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

a.CommandLink:hover {
  color:#FFFFFF;
  background-color:#c63;
}

a.CommandLink:active {
  color:#FFFFFF;
  background-color:#c63;
}

a.CommandLink:focus {
  color:#FFFFFF;
  background-color:#c63;
}

dt {
  padding:0.2em;
}

dd {
  padding:0.2em;
}

p.ScrollLink {
  font-size:0.7em;
  text-align:right;
}

table.PrintSearchResults {
  background: #ffffff;
  color: #000000;
}

#TopSection a.CommandLink {
  text-align:center;
  color:#000000;
}

#MainMenu a.CommandLink {
  display:block;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  border:1px solid;
  background-color:#ffffff;
}

#ContextMenu a.CommandLink {
  display:block;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  border:1px solid;
  background-color:#ffffff;
}

#TopSection a.CommandLink:hover {
  color:#FFFFFF;
  background-color:#c63;
}

#TopSection a.CommandLink:active {
  color:#FFFFFF;
  background-color:#c63;
}

#TopSection a.CommandLink:focus {
  color:#FFFFFF;
  background-color:#c63;
}

#StatusLine a.CommandLink {
  border:none;
  color:#AA4012;
  padding:0.1em;
  background-color:transparent;
}

#StatusLine a.CommandLink:hover {
  color:#FFFFFF;
  background-color:#c63;
}
