/*---------------------------------------*/
/* Screen layout for web2ldap.de         */
/*---------------------------------------*/

body {
  margin: 3em;
  padding: 0;
  background-color: #ffffff;
}

div#footer {
  width: 100%;
  background-color: #ffffff;
}

/* position and colour of header text */
div#header div.header_text {
  position: absolute;
  bottom: 1em;
  left: 1em; color: #ffffff; }

p {
  margin: 0.7em 0 0 0em;
  line-height: 1.4em;
}

p.subtitle {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}

dl {
  margin: 0.25em 0 0 1.5em;
}

dt {
  padding: 0.2em;
  margin-top: 0.2em;
}

dd {
  padding: 0.2em;
  margin-bottom: 0.2em;
}

pre {
  margin: 1em 1em 1em 1.5em;
  padding: 0.5em;
  border: 1px solid;
  overflow: auto;
}

code {
  margin: 1em 1em 1em 1.5em;
  padding: 0.5em;
}

table {
  margin: 1em 1em 1em 1.5em;
  border: none;
  border: 1px solid;
  padding: 0.25em;
}

li {
  margin: 0.25em 0 0 1.5em;
}

h1 {
  font-size:1.65em;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
}

h2 {
  font-size:1.25em;
  font-weight: bold;
  padding:0.1em;
  margin: 0.75em 0 0.25em 0;
}

h3 {
  font-size:1.0em;
  font-weight: bold;
  margin: 0.75em 0 0.1em 0;
}

html, body, div {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 100%;
  text-decoration: none;
}

ul {
  list-style-type:square;
}

address {
}

/* Links */

a {
  color: #CF5022;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #802000;
}

a:hover {
  text-decoration: underline;
}

div#navigation {
  width:100%;
  border-bottom: solid 1px;
  padding-bottom: 1em;
}

div#navigation p {
  margin: 0 0 0 0;
  line-height: 1.4em;
}

div#navigation a.entrylink {
  width:10%;
  font-weight:bold;
  font-size:1.75em;
}

div#navigation .menu {
  align:right;
}

div#footer {
  width:100%;
  font-size:0.75em;
  padding-top: 1em;
  margin-top:2em;
  border-top: solid 1px;
}

span.keyb-return {
  font-weight:bold;
  font-size:1.2em;
}

span.web2ldap-internal-link {
  text-align:center;
  color:#c81f2a;
  text-decoration:none;
  font-weight:bold;
  text-align:center;
}

span.web2ldap-external-link {
  text-align:center;
  padding:0.2em;
  color:#3385a7;
  text-decoration:none;
  font-weight:bold;
}

span.web2ldap-menu-button {
  font-weight:bold;
  border:none;
  padding:0.1em;
  color:#ffffff;
  background-color:transparent;
  padding:0.2em;
  margin:0.5em 0 0.5em 0;
  background-color:#a80a1a;
  background:linear-gradient(#a80a1a,#c3182a,#c81f2a,#c3182a,#a80a1a);
  background-repeat:no-repeat;
}

button.web2ldap-submit-button {
  font-size:0.92em;
  background-color:#d8d8d8;
  border:3px solid #cccccc;
  border-top-color:#eeeeee;
  border-left-color:#eeeeee;
}
