<h1>OpenLDAP database (back-mdb)</h1>

<h2>Basic database parameters</h2>
<table>
  <tr>
    <td>Number and Type of database (olcDatabase)</td>
    <td>%(olcDatabase)s</td>
  </tr>
  <tr>
    <td>Suffix of database (olcSuffix)</td>
    <td>%(olcSuffix)s</td>
  </tr>
  <tr>
    <td>DN of administrator (olcRootDN). Must have same suffix as the database!</td>
    <td>%(olcRootDN)s</td>
  </tr>
  <tr>
    <td>Directory where database files are stored (olcDbDirectory)</td>
    <td>%(olcDbDirectory)s</td>
  </tr>
  <tr>
    <td>Permissions of database files (olcDbMode)</td>
    <td>%(olcDbMode)s</td>
  </tr>
  <tr>
    <td>Checkpoint parameters (kbyte) (min)</td>
    <td>%(olcDbCheckpoint)s</td>
  </tr>
  <tr>
    <td>Visible in cn=Monitor</td>
    <td>%(olcMonitoring)s</td>
  </tr>
  <tr>
    <td>Database in read-only mode (olcReadOnly)</td>
    <td>%(olcReadOnly)s</td>
  </tr>
  <tr>
    <td>Check ACLs against content of Add ops (olcAddContentAcl)</td>
    <td>%(olcAddContentAcl)s</td>
  </tr>
</table>
<h2>MDB configuration</h2>
<p>%(olcDbEnvFlags)s</p>
<h2>Index configuration</h2>
<p>%(olcDbIndex)s</p>

<h2>Access control (ACLS)</h2>
<p>%(olcAccess)s</p>

<h2>Replication</h2>

<h3>Consumer options</h3>
<table>
  <tr>
    <td>olcSyncrepl</td>
    <td>%(olcSyncrepl)s</td>
  </tr>
  <tr>
    <td>olcSyncUseSubentry</td>
    <td>%(olcSyncUseSubentry)s</td>
  </tr>
</table>
