<h1>OpenLDAP global configuration</h1>

&lt;<a class="CommandLink" href="#basic">Basic</a>&gt;
&lt;<a class="CommandLink" href="#concurrency">Concurrency</a>&gt;
&lt;<a class="CommandLink" href="#conn">Connections</a>&gt;
&lt;<a class="CommandLink" href="#security">Security</a>&gt;
&lt;<a class="CommandLink" href="#indexing">Indexing</a>&gt;

<h2 id="basic">Basic options</h2>

<table>
  <tr>
    <td>Server-ID for multi-master replication (<var>olcServerID</var>):</td>
    <td>%(olcServerID)s</td>
  </tr>
  <tr>
    <td>Set of features to allow (default none) (<var>olcAllows</var>):</td>
    <td>%(olcAllows)s</td>
  </tr>
  <tr>
    <td>File holding the slapd server's command line (<var>olcArgsFile</var>):</td>
    <td>%(olcArgsFile)s</td>
  </tr>
  <tr>
    <td>Directory holding the server configuration (<var>olcConfigDir</var>):</td>
    <td>%(olcConfigDir)s</td>
  </tr>
  <tr>
    <td>File holding the server configuration (<var>olcConfigFile</var>):</td>
    <td>%(olcConfigFile)s</td>
  </tr>
  <tr>
    <td>SIGHUP will cause a 'gentle' shutdown-attempt (<var>olcGentleHUP</var>):</td>
    <td>%(olcGentleHUP)s</td>
  </tr>
  <tr>
    <td>Logging level (<var>olcLogLevel</var>):</td>
    <td>%(olcLogLevel)s</td>
  </tr>
  <tr>
    <td>File containing PID of slapd process (<var>olcPidFile</var>):</td>
    <td>%(olcPidFile)s</td>
  </tr>
  <tr>
    <td>Database  in read-only mode (<var>olcReadOnly</var>):</td>
    <td>%(olcReadOnly)s</td>
  </tr>
  <tr>
    <td>Tagging attribute options or option tag/range prefixes (<var>olcAttributeOptions</var>):</td>
    <td>%(olcAttributeOptions)s</td>
  </tr>
</table>

<h2 id="concurrency">Concurrency/threads</h2>

<table>
  <tr>
    <td>Desired level of concurrency (<var>olcConcurrency</var>):</td>
    <td>%(olcConcurrency)s</td>
  </tr>
  <tr>
    <td>Maximum size of primary thread pool (<var>olcThreads</var>):</td>
    <td>%(olcThreads)s</td>
  </tr>
  <tr>
    <td>Number of threads for connection manager (<var>olcListenerThreads</var>):</td>
    <td>%(olcListenerThreads)s</td>
  </tr>
  <tr>
    <td>Maximum number of threads for tool mode (<var>olcToolThreads</var>):</td>
    <td>%(olcToolThreads)s</td>
  </tr>
</table>

<h2 id="conn">Connection and timeout options</h2>

<table>
  <tr>
    <td>Enable client name reverse lookup (<var>olcReverseLookup</var>):</td>
    <td>%(olcReverseLookup)s</td>
  </tr>
  <tr>
    <td>Max. pending requests for anonymous sessions (<var>olcConnMaxPending</var>):</td>
    <td>%(olcConnMaxPending)s</td>
  </tr>
  <tr>
    <td>Max. pending requests for authenticated sessions  (<var>olcConnMaxPendingAuth</var>):</td>
    <td>%(olcConnMaxPendingAuth)s</td>
  </tr>
  <tr>
    <td>Time to wait before forcibly closing idle client connections (<var>olcIdleTimeout</var>):</td>
    <td>%(olcIdleTimeout)s seconds</td>
  </tr>
  <tr>
    <td>Time to wait before forcibly closing connections with outstanding write ops (<var>olcWriteTimeout</var>):</td>
    <td>%(olcWriteTimeout)s seconds</td>
  </tr>
  <tr>
    <td>Maximum incoming LDAP PDU size for anonymous sessions (<var>olcSockbufMaxIncoming</var>):</td>
    <td>%(olcSockbufMaxIncoming)s bytes</td>
  </tr>
  <tr>
    <td>Maximum incoming LDAP PDU size for authenticated sessions (<var>olcSockbufMaxIncomingAuth</var>):</td>
    <td>%(olcSockbufMaxIncomingAuth)s bytes</td>
  </tr>
  <tr>
    <td>Size of read/write TCP buffers (<var>olcTCPBuffer</var>):</td>
    <td>%(olcTCPBuffer)s bytes</td>
  </tr>
</table>

<h2 id="security">Security options</h2>

<table>
  <tr>
    <td>Security strength factors (separated by white space) (<var>olcSecurity</var>):</td>
    <td>%(olcSecurity)s</td>
  </tr>
  <tr>
    <td>Security Strength Factor (SSF) for local LDAP sessions (<var>olcLocalSSF</var>):</td>
    <td>%(olcLocalSSF)s</td>
  </tr>
</table>

<h3 id="authz">Authz options</h3>

<table>
  <tr>
    <td>Rules to use for Proxy Authorization (<var>olcAuthzPolicy</var>):</td>
    <td>%(olcAuthzPolicy)s</td>
  </tr>
  <tr>
    <td>Authz-mapping regexp (<var>olcAuthzRegexp</var>):</td>
    <td>%(olcAuthzRegexp)s</td>
  </tr>
</table>

<h3 id="password">Password options</h3>

<table>
  <tr>
    <td>Hash scheme to be used with Password Modify ext.op. (<var>olcPasswordHash</var>):</td>
    <td>%(olcPasswordHash)s</td>
  </tr>
  <tr>
    <td>Salt format for <em>{CRYPT}</em> hashing scheme (<var>olcPasswordCryptSaltFormat</var>):</td>
    <td>%(olcPasswordCryptSaltFormat)s</td>
  </tr>
</table>

<h3 id="sasl">SASL options</h3>

<table>
  <tr>
    <td>SASL hostname (<var>olcSaslHost</var>):</td>
    <td>%(olcSaslHost)s</td>
  </tr>
  <tr>
    <td>SASL Realm (<var>olcSaslRealm</var>):</td>
    <td>%(olcSaslRealm)s</td>
  </tr>
  <tr>
    <td>Cyrus SASL auxprop plugins used for authentication lookups (<var>olcSaslAuxprops</var>):</td>
    <td>%(olcSaslAuxprops)s</td>
  </tr>
  <tr>
    <td>Cyrus SASL security properties (<var>olcSaslSecProps</var>):</td>
    <td>%(olcSaslSecProps)s</td>
  </tr>
</table>

<h3 id="tls">SSL/TLS options</h3>

<table>
  <tr>
    <td> (<var>olcTLSCACertificateFile</var>):</td>
    <td>%(olcTLSCACertificateFile)s</td>
  </tr>
  <tr>
    <td> (<var>olcTLSCACertificatePath</var>):</td>
    <td>%(olcTLSCACertificatePath)s</td>
  </tr>
  <tr>
    <td>Server certificate file (<var>olcTLSCertificateFile</var>):</td>
    <td>%(olcTLSCertificateFile)s</td>
  </tr>
  <tr>
    <td>Server private key file (<var>olcTLSCertificateKeyFile</var>):</td>
    <td>%(olcTLSCertificateKeyFile)s</td>
  </tr>
  <tr>
    <td>CRL checking for client certs (<var>olcTLSCRLCheck</var>):</td>
    <td>%(olcTLSCRLCheck)s</td>
  </tr>
  <tr>
    <td>CRL file (<var>olcTLSCRLFile</var>):</td>
    <td>%(olcTLSCRLFile)s</td>
  </tr>
  <tr>
    <td> (<var>olcTLSDHParamFile</var>):</td>
    <td>%(olcTLSDHParamFile)s</td>
  </tr>
  <tr>
    <td> (<var>olcTLSCipherSuite</var>):</td>
    <td>%(olcTLSCipherSuite)s</td>
  </tr>
  <tr>
    <td> (<var>olcTLSRandFile</var>):</td>
    <td>%(olcTLSRandFile)s</td>
  </tr>
  <tr>
    <td> (<var>olcTLSProtocolMin</var>):</td>
    <td>%(olcTLSProtocolMin)s</td>
  </tr>
  <tr>
    <td> (<var>olcTLSVerifyClient</var>):</td>
    <td>%(olcTLSVerifyClient)s</td>
  </tr>
</table>

<h2 id="indexing">Indexing options</h2>

<table>
  <tr>
    <td>Key length for ordered integer indices (<var>olcIndexIntLen</var>):</td>
    <td>%(olcIndexIntLen)s</td>
  </tr>
  <tr>
    <td>Length used for subany indices (<var>olcIndexSubstrAnyLen</var>):</td>
    <td>%(olcIndexSubstrAnyLen)s</td>
  </tr>
  <tr>
    <td>Steps used in subany index lookups (<var>olcIndexSubstrAnyStep</var>):</td>
    <td>%(olcIndexSubstrAnyStep)s</td>
  </tr>
  <tr>
    <td>Maximum length for subinitial and subfinal indices (<var>olcIndexSubstrIfMaxLen</var>):</td>
    <td>%(olcIndexSubstrIfMaxLen)s</td>
  </tr>
  <tr>
    <td>Minimum length for subinitial and subfinal indices (<var>olcIndexSubstrIfMinLen</var>):</td>
    <td>%(olcIndexSubstrIfMinLen)s</td>
  </tr>
</table>
