<h1>DNS entry (dNSDomain2)</h1>

<fieldset>
  <legend>Basic information</legend>
  <table>
    <tr>
      <td>First DNS label (dc):</td>
      <td>%(dc)s</td>
    </tr>
    <tr>
      <td>Full DNS label (associatedDomain):</td>
      <td>%(associatedDomain)s</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>%(Description)s</td>
    </tr>
    <tr>
      <td>TTL (secs):</td>
      <td>%(dNSTTL)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Common RRs</legend>
  <table>
    <tr>
      <td>IPv4 address (A):</td>
      <td>%(aRecord)s</td>
    </tr>
    <tr>
      <td>IPv6 address (AAAA):</td>
      <td>%(aAAARecord)s</td>
    </tr>
    <tr>
      <td>Mail exchanger (MX):</td>
      <td>%(mXRecord)s</td>
    </tr>
    <tr>
      <td>Pointer / reverse (PTR):</td>
      <td>%(pTRRecord)s</td>
    </tr>
    <tr>
      <td>Name alias (CNAME):</td>
      <td>%(cNAMERecord)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Name server RRs</legend>
  <table>
    <tr>
      <td>Start of authority (SOA):</td>
      <td>%(sOARecord)s</td>
    </tr>
    <tr>
      <td>Name server designation (NS):</td>
      <td>%(nSRecord)s</td>
    </tr>
    <tr>
      <td>Responsible Person (RP):</td>
      <td>%(rPRecord)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>DNSSEC</legend>
  <table>
    <tr>
      <td>RR Signature (RRSIG):</td>
      <td>%(rRSIGRecord)s</td>
    </tr>
    <tr>
      <td>Delegation Signer (DS):</td>
      <td>%(dSRecord)s</td>
    </tr>
    <tr>
      <td>Lookaside Validation (DLV):</td>
      <td>%(DLVRecord)s</td>
    </tr>
    <tr>
      <td>Non-existant (NXT):</td>
      <td>%(nXTRecord)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Services</legend>
  <table>
    <tr>
      <td>Service Location (SRV):</td>
      <td>%(sRVRecord)s</td>
    </tr>
    <tr>
      <td>DANE (TLSA):</td>
      <td>%(tLSARecord)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Exotic stuff</legend>
  <table>
    <tr>
      <td>Text string (TXT):</td>
      <td>%(tXTRecord)s</td>
    </tr>
    <tr>
      <td>Sender Policy Framework (SPF):</td>
      <td>%(sPFRecord)s</td>
    </tr>
    <tr>
      <td>SSH Key Fingerprint (SSHFP):</td>
      <td>%(sSHFPRecord)s</td>
    </tr>
    <tr>
      <td>Certificate (CERT):</td>
      <td>%(cERTRecord)s</td>
    </tr>
  </table>
</fieldset>
