<h2>Posix Group</h2>

<fieldset>
  <table>
    <tr>
      <td>
        Numerial GID:
      </td>
      <td>
        %(gidNumber)s
      </td>
    </tr>
    <tr>
      <td>
        Members' UIDs:
      </td>
      <td>
        %(memberUID)s
      </td>
    </tr>
  </table>
</fieldset>
