<h2>Posix Group <em>%(cn)s</em></h2>

<table>
  <tr>
    <td>
      Numerial GID:
    </td>
    <td>
      %(gidNumber)s
    </td>
  </tr>
  <tr>
    <td>
      Members' UIDs:
    </td>
    <td>
      %(memberUID)s
    </td>
  </tr>
</table>
