<h1>&AElig;-DIR host/server</h1>

<p>
  Wiki documentation:
  <a href="https://ae-dir.com/docs.html#schema-oc-aeHost">Schema</a> /
  <a href="https://ae-dir.com/web2ldap.html#oc-aeHost">How-To</a>
</p>

<fieldset>

  <legend>Required attributes</legend>

  <table>
    <tr>
      <td>Common name (cn):</td>
      <td>%(cn)s</td>
    </tr>
    <tr>
      <td>Canonical host name / FQDN (host):</td>
      <td>%(host)s</td>
    </tr>
    <tr>
      <td>Status (aeStatus):</td>
      <td>%(aeStatus)s</td>
    </tr>
    <tr>
      <td>Expiry Status (aeExpiryStatus):</td>
      <td>%(aeExpiryStatus)s</td>
    </tr>
  </table>

</fieldset>

<fieldset>

  <legend>Optional attributes</legend>

  <table>
    <tr>
      <td>Additional service/host groups (aeSrvGroup):</td>
      <td>%(aeSrvGroup)s</td>
    </tr>
    <tr>
      <td>Intended purpose (description):</td>
      <td>%(description)s</td>
    </tr>
    <tr>
      <td>Ticket no. last change (aeTicketId):</td>
      <td>%(aeTicketId)s</td>
    </tr>
    <tr>
      <td>Validity period (aeNotBefore..aeNotAfter):</td>
      <td>
        <dl>
          <dt>from</dt>
          <dd>%(aeNotBefore)s</dd>
          <dt>until</dt>
          <dd>%(aeNotAfter)s</dd>
        </dl>
      </td>
    </tr>
    <tr>
      <td>Tag(s) (aeTag):</td>
      <td>%(aeTag)s</td>
    </tr>
  </table>

</fieldset>
