<h1>&AElig;-DIR zone</h1>

<p>
  Wiki documentation:
  <a href="https://ae-dir.com/docs.html#schema-oc-aeZone">Schema</a> /
  <a href="https://ae-dir.com/web2ldap.html#oc-aeZone">How-To</a>
</p>

<table>
  <tr>
    <td>Zone name (cn):</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
  <tr>
    <td>Expiry Status (aeExpiryStatus):</td>
    <td>%(aeExpiryStatus)s</td>
  </tr>
  <tr>
    <td>Intended purpose (description):</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Ticket no. last change (aeTicketId):</td>
    <td>%(aeTicketId)s</td>
  </tr>
  <tr>
    <td>Associated department(s):</td>
    <td>%(aeDept)s</td>
  </tr>
  <tr>
    <td>Associated location(s) (aeLocation):</td>
    <td>%(aeLocation)s</td>
  </tr>
  <tr>
    <td>Validity period (aeNotBefore..aeNotAfter):</td>
    <td>
      <dl>
        <dt>from</dt>
        <dd>%(aeNotBefore)s</dd>
        <dt>until</dt>
        <dd>%(aeNotAfter)s</dd>
      </dl>
    </td>
  </tr>
  <tr>
    <td>Tag(s) (aeTag):</td>
    <td>%(aeTag)s</td>
  </tr>
  <tr>
    <td>Zone admin group(s):</td>
    <td>%(aeZoneAdmins)s</td>
  </tr>
  <tr>
    <td>Zone auditor group(s):</td>
    <td>%(aeZoneAuditors)s</td>
  </tr>
  <tr>
    <td>
      Password admin group(s):<br>
      <strong>Rarely needed! Think twice!</strong>
    </td>
    <td>%(aePasswordAdmins)s</td>
  </tr>
</table>
