<h1>&AElig;-DIR tag</h1>

<p>
  Wiki documentation:
  <a href="https://ae-dir.com/docs.html#schema-oc-aeTag">Schema</a> /
  <a href="https://ae-dir.com/web2ldap.html#oc-aeTag">How-To</a>
</p>

<table>
  <tr>
    <td>Tag name (cn):</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Description / meaning:</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
  <tr>
    <td>Expiry Status (aeExpiryStatus):</td>
    <td>%(aeExpiryStatus)s</td>
  </tr>
</table>
