<h1>Authentication Token</h1>

<p>
  Documentation:
  <a href="https://ae-dir.com/docs.html#schema-oc-aeAuthcToken">Schema</a> /
  <a href="https://ae-dir.com/web2ldap.html#oc-aeAuthcToken">How-To</a>
</p>

<fieldset>
  <legend>Required input</legend>
  <table>
    <tr>
      <td>Hardware serial number (aeHwSerialNumber):</td>
      <td>%(aeHwSerialNumber)s</td>
    </tr>
    <tr>
      <td>Owner person (aePerson):</td>
      <td>%(aePerson)s</td>
    </tr>
    <tr>
      <td>Status (aeStatus):</td>
      <td>%(aeStatus)s</td>
    </tr>
    <tr>
      <td>Expiry Status (aeExpiryStatus):</td>
      <td>%(aeExpiryStatus)s</td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend>Optional input</legend>
  <table>
    <tr>
      <td>Intended purpose (description):</td>
      <td>%(description)s</td>
    </tr>
    <tr>
      <td>Jira ticket for last change (aeTicketId):</td>
      <td>%(aeTicketId)s</td>
    </tr>
    <tr>
      <td>Validity period (aeNotBefore..aeNotAfter):</td>
      <td>
        <dl>
          <dt>from</dt>
          <dd>%(aeNotBefore)s</dd>
          <dt>until</dt>
          <dd>%(aeNotAfter)s</dd>
        </dl>
      </td>
    </tr>
  </table>
</fieldset>

%(serialNumber)s
%(cn)s
%(displayName)s
