<h1>&AElig;-DIR tag <em>%(cn)s</em></h1>

<p class="EntryDN">%(entryDN)s</p>
<p>%(structuralObjectClass)s</p>

<table>
  <tr>
    <td>Tag name (cn):</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Description / meaning:</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
  <tr>
    <td>Expiry Status (aeExpiryStatus):</td>
    <td>%(aeExpiryStatus)s</td>
  </tr>
</table>
