<h1>%(displayName)s</h1>

<p class="EntryDN">%(entryDN)s</p>

<table>
  <tr>
    <td>Hardware serial number (aeHwSerialNumber):</td>
    <td>
      %(aeHwSerialNumber)s //
      <a
        href="/oath/reset?serial=%(aeHwSerialNumber)s"
        title="Initialize and request an enrollment password for %(displayName)s"
      >
        Initialize this token
      </a>
    </td>
  </tr>
  <tr>
    <td>Device serial number (serialNumber)</td>
    <td>%(serialNumber)s</td>
  </tr>
  <tr>
    <td>Owner person (aePerson):</td>
    <td>%(aePerson)s</td>
  </tr>
  <tr>
    <td>Common name (cn)</td>
    <td>%(cn)s</td>
  </tr>
  <tr>
    <td>Status (aeStatus):</td>
    <td>%(aeStatus)s</td>
  </tr>
  <tr>
    <td>Expiry Status (aeExpiryStatus):</td>
    <td>%(aeExpiryStatus)s</td>
  </tr>
  <tr>
    <td>Intended purpose (description):</td>
    <td>%(description)s</td>
  </tr>
  <tr>
    <td>Validity period:</td>
    <td>
      <dl>
        <dt>from (aeNotBefore)</dt>
        <dd>%(aeNotBefore)s</dd>
        <dt>until (aeNotAfter)</dt>
        <dd>%(aeNotAfter)s</dd>
      </dl>
    </td>
  </tr>
</table>

<h2>Enrollment status</h2>

<table>
  <tr>
    <td>Jira ticket for last change (aeTicketId):</td>
    <td>%(aeTicketId)s</td>
  </tr>
  <tr>
    <td>Last enrollment password time<br>(pwdChangedTime):</td>
    <td>%(pwdChangedTime)s</td>
  </tr>
</table>

