<h2>Password policy</h2>

<h3>Password change parameters</h3>

<table>
  <tr>
    <td>Password attribute (pwdAttribute):</td>
    <td>%(pwdAttribute)s</td>
  </tr>
  <tr>
    <td>Minimum time between password modifications (pwdMinAge):</td>
    <td>%(pwdMinAge)s</td>
  </tr>
  <tr>
    <td>Maximum number of passwords stored in history (pwdInHistory):</td>
    <td>%(pwdInHistory)s</td>
  </tr>
  <tr>
    <td>Password quality check (pwdCheckQuality):</td>
    <td>%(pwdCheckQuality)s</td>
  </tr>
  <tr>
    <td>Minimum password length (pwdMinLength):</td>
    <td>%(pwdMinLength)s</td>
  </tr>
  <tr>
    <td>User is allowed to change own password (pwdAllowUserChange):</td>
    <td>%(pwdAllowUserChange)s</td>
  </tr>
  <tr>
    <td>Old password must be sent when changing own password (pwdSafeModify):</td>
    <td>%(pwdSafeModify)s</td>
  </tr>
  <tr>
    <td>Enforce password change after next bind (pwdMustChange):</td>
    <td>%(pwdMustChange)s</td>
  </tr>
</table>

<h3>Password expiry</h3>

<table>
  <tr>
    <td>Time after which a password is no longer valid (pwdMaxAge):</td>
    <td>%(pwdMaxAge)s</td>
  </tr>
  <tr>
    <td>Time before password expiry a warning message is returned (pwdExpireWarning):</td>
    <td>%(pwdExpireWarning)s</td>
  </tr>
  <tr>
    <td>Maximum number of times that an expired password may be used (pwdGraceAuthnLimit):</td>
    <td>%(pwdGraceAuthnLimit)s</td>
  </tr>
</table>

<h3>Lockout parameters</h3>

<strong>You should think twice whether you really want to lock out users!</strong>

<table>
  <tr>
    <td>Password lockout after failed bind attempts (pwdLockout):</td>
    <td>%(pwdLockout)s</td>
  </tr>
  <tr>
    <td>Duration of password lockout (pwdLockoutDuration):</td>
    <td>%(pwdLockoutDuration)s</td>
  </tr>
  <tr>
    <td>Number of failed bind attempts for lockout (pwdMaxFailure):</td>
    <td>%(pwdMaxFailure)s</td>
  </tr>
  <tr>
    <td>Time after which failed bind attempts are purged (pwdFailureCountInterval):</td>
    <td>%(pwdFailureCountInterval)s</td>
  </tr>
</table>
