<p>
<a href="changes-1.2.html">1.2</a>|
<a href="changes-1.1.html">1.1</a>|
<a href="changes-1.0.html">1.0</a>|
<a href="changes-0.16.html">0.16.x</a>|
<a href="changes-0.15.html">0.15.x</a>|
<a href="changes-0.14.html">0.14.x</a>|
<a href="changes-0.13.html">0.13.x</a>|
<a href="changes-0.12.html">0.12.x</a>|
<a href="changes-0.11.html">0.11.x</a>|
<a href="changes-0.10.html">0.10.x</a>|
<a href="changes-0.9.html">0.9.x</a>|
<a href="changes-0.8.html">0.8.x</a>|
<a href="changes-0.7.html">0.7.x</a>|
<a href="changes-ancient.html">Ancient</a>|
<a href="changes.html">Overview</a>
</p>
