  <footer>
    <div id="footer">
      sponsored by <a href="https://www.stroeder.com">
      stroeder.com - Information Technology, IT-Security, Identity Management,
      System Integration</a>
    </div>
  </footer>

</body>

</html>
