<nav>
  <div id="navigation">
    <p>
      <a href="web2ldap.html" rel="home">Main</a> //
      <a href="download.html">Download</a> /
      <a href="features.html">Features</a> /
      <a href="roadmap.html">Roadmap</a> /
      <a href="news.html">News</a> /
      <a href="demo.html">Demo</a> /
      <a href="related.html">Related</a>
    </p>
    <p>
      <a href="support.html">Support</a> //
      <a href="https://www.stroeder.com">Commercial</a> /
      <a href="feedback.html">Feedback</a> /
      <a href="faq.html">FAQ</a> /
      <a href="compability.html">Compability</a>
    </p>
    <p>
      <a href="docs.html">Documentation</a> //
      <a href="install.html">Installing</a> /
      <a href="usability.html">Customizing UI</a> /
      <a href="web2ldapcnf.html">Configuration</a> /
      <a href="security.html">Security</a> /
      <a href="changes.html">Changes</a> /
      <a href="files.html">Files</a>
    </p>
  </div>
</nav>

<header>
  <h1>
    <!--#echo var="web2ldap_subtitle" -->
  </h1>
  <p class="subtitle">
    <!--#echo var="web2ldap_pagedescription" -->
  </p>
</header>
